.dialog-title {
  text-align: center;
  color: #1976d2;
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
}

.add-customer-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.btn-sec {
  text-align: center;
  margin-top: 1.5em;
}

.cancel-btn, mat-raised-button {
  border-radius: 25px;
  padding: 12px 24px;
  transition: background-color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}

.cancel-btn:hover {
  background-color: #d32f2f;
}

mat-raised-button {
  background-color: #1976d2;
  color: white;
}

mat-raised-button:hover {
  background-color: #1565c0;
}
